footer{
    display: flex;
    flex-direction: row;
    height: 100;
    justify-content: space-around;
}

.first{
    flex-basis: 33%;
}

.second{
    flex-basis: 33%;
}


.textone{
    text-align: center;
    font-size: 15px;
}

.texttwo{
    text-align: center;
    font-size: 15px;
}

hr {
    width: 100% ;
    border: none;
    border-top: 3px double #333;
    overflow: visible;
    height: 5px;
}
