header
{
    background-color: cyan;
    padding-top: 25px;
    text-align: center;
}

.titre_header
{
    font-size: 35px;
    color:black;
}

a
{
    font-size: 25px;
    padding-right: 30px;
    text-decoration: none;
    color:black;
}
p
{
    text-align: center;
    font-size: 15px;
}

body
{
    height:100%;
    width:100%;
    margin: 0;
}

.display
{
    display:block;
    margin:auto;
    height:15%;
    width:15%
}