.titre_quizz{
    text-align: center;
    font-size: 30px;
}
.display_quizz{
    margin-left: 200px;
    margin-right: 200px;
    padding-right: 200px;
    padding-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 25px;

}

input#radio{
    margin-left: 35%;
}
input#text{
    margin-left: 35%;
}
input#checkbox{
    margin-left: 35%;
}
.scroll-field{
    margin-left: 35%;
}

.questions_and_answers{
    /* background-color: green; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
   
}

button{
    border:none;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	background:#fff;
	font:bold 13px Arial;
    color:#555;
    padding: 5px;
    height: 35px;
    width: 100px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 70px;

}

button:hover{
    cursor:pointer;
}
.question{
    font-size: 20px;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
}


