
h1{
    text-align: center;
    color: rgb(253, 234, 127)/* white*/;
}

p{
    text-align: center;
    /* color: rgb(253, 234, 127)white; */
}

.display{
    background-color:rgb(129, 45, 45);
    border: solid black ;
    padding: 20px;
    margin: 50px;
    margin-left: 400px;
    margin-right: 400px;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border: 20px;
    border-style: ridge;
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
}

.display_score{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
    
}


input {
    background: white;
    border: solid black;
    cursor: pointer;
    font: 400 1.5rem/1.25 'Montserrat', sans-serif;
    position: relative;
    text-transform: uppercase;
    padding: 10px;
}