
h1{
    text-align: center;
    color: rgb(253, 234, 127)/* white*/;
}

p{
    text-align: center;
    /* color: rgb(253, 234, 127)white; */
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:1.2em;
}

